@CHARSET "UTF-8";

.etage {
	width: 636px;
	height: 325px;
	position: relative;
	margin-left: 10px;
	top: 10px;
}

.etage0 {
	background-image: url('../images/maison_etage0_detaille.png');
}

.etage1 {
	background-image: url('../images/maison_etage1.png');
}

.led {
	position: absolute;
}

.led03 {
	top: 210px;
	left: 75px;
}

.led04 {
	top: 77px;
	left: 115px;
}

.led02 {
	top: 147px;
	left: 150px;
}

.led06 {
	top: 135px;
	left: 270px;
}

.led01 {
	top: 135px;
	left: 423px;
}

.led05 {
	top: 70px;
	left: 495px;
}

#maison-img {
	background-image: url('../images/ing.jpg');
	width: 200px;
	height: 303px;
}

.led11 {
	top: 137px;
	left: 365px;
}

.led12 {
	top: 128px;
	left: 55px;
}

.led13 {
	top: 65px;
	left: 465px;
}

.led14 {
	top: 65px;
	left: 230px;
}

.led15 {
	top: 205px;
	left: 119px;
}

.led16 {
	top: 60px;
	left: 115px;
}

.led17 {
	top: 240px;
	left: 75px;
}

.led18 {
	top: 172px;
	left: 485px;
}

.led19 {
	top: 140px;
	left: 190px;
}

.info,.success,.warning,.error {
	border: 1px solid;
	margin: 15px 0px;
	padding: 15px 20px 15px 55px;
	width: 586px;
	font: bold 12px verdana;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	text-shadow: 2px 2px 2px #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.info {
	color: #00529B;
	background: #BDE5F8 url('http://mydomain.com/images/icon-info.png')
		no-repeat 10px center;
}

.success {
	color: #4F8A10;
	background: #DFF2BF url('../images/success.png') no-repeat 10px center;
}

.warning {
	color: #9F6000;
	background: #FEEFB3 url('http://mydomain.com/images/icon-warning.png')
		no-repeat 10px center;
}

.error {
	color: #D8000C;
	background: #FFBABA url('../images/stop.png') no-repeat 10px center;
}

#error00,#error10 {
	visibility: hidden;
}