<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>FreeWays Club Logiciels Libres</title>
<link rel="icon" type="image/png" href="/s/images/freeways.png"/>
<link rel="stylesheet" href="/s/css/demos_Graph.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="/s/css/demos.css">
<link rel="stylesheet" href="/s/css/jquery.ui.all.css">

<script src="/s/js/RGraph.common.core.js"></script>
<script src="/s/js/RGraph.line.js"></script>
<script src="/s/js/RGraph.thermometer.js"></script>
<script src="/s/js/ga.js" async="" type="text/javascript"></script>
<script src="/s/js/RGraph.js"></script>
<script src="/s/js/jquery-1.9.1.js"></script>
<script src="/s/js/jquery.ui.core.js"></script>
<script src="/s/js/jquery.ui.widget.js"></script>
<script src="/s/js/jquery.ui.mouse.js"></script>
<script src="/s/js/jquery.ui.slider.js"></script>

{% load socketio %} {% socketio_client_script %}

<script>
	$(document).ready(function() {
		if (!window.console)
			window.console = {};

		if (!window.console.log)
			window.console.log = function() {
			};

		if (!window.console.dir)
			window.console.dir = function() {
			};

		socket = io.connect(null, {
			transports : [ 'flashsocket', 'xhr-polling' ]
		});
		socket.on('connect', function() {
			console.log('connected');
			var name = null;

			set_name("AAABBB");
		});

		socket.on('disconnect', function() {
			console.log('disconnected');
		});

		socket.on('reconnecting', function() {
			console.log('reconnecting');
		});

		socket.on('reconnect', function() {
			console.log('reconnected');
		});

		socket.on('error', function(e) {
			console.log('error: ' + e);
		});

		socket.on('chat_message', function(user, message) {
			show_message('<b>' + user + '</b>: ' + message);
		});

		socket.on('system_message', function(message) {
			show_message('<i>' + message + '</i>');
		});

		socket.on('set_temperature', function(number) {
			console.log("Number: " + number);
			$("#slider-vertical").slider("value", number);
			console.log("Requesting another number... ");
			setTimeout(function(){socket.emit('get_temperature', 0);},450)
			
		});

		show_message = function(message) {
			console.log('MESSAGE ' + message);

			var html = '<li>' + message + '</li>';
			var node = $(html);
			node.hide();
			$("#messages").append(node);
			node.fadeIn();
			$("#messages_div").animate({
				scrollTop : $("#messages_div").prop("scrollHeight")
			}, 300);
		};

		$('#message_form').submit(function() {
			var message = $('#message').val();
			if (message) {
				send_message(message);
				$('#message').val('');
				$('#message').focus();
			}

			return false;
		});

		send_message = function(message) {
			socket.emit('chat_message', message, function() {
			});
		};

		set_name = function(name) {
			socket.emit('chat_set_name', name, function() {
				$('#message').focus();
			});
		};
	});
</script>



<script>
	function request_random_number() {
		socket.emit('get_temperature', 0);
		return "SENT!";
	}
</script>

<script>
	// ***fonction du slider***

	$(function() {
		$("#slider-vertical").slider({
			orientation : "vertical",
			range : "min",
			min : -100, // varaleur min
			max : 100,// varaleur max
			value : 60,// varaleur initial
			slide : function(event, ui) {
				$("#amount").val(ui.value);
			}
		});
		$("#amount").val($("#slider-vertical").slider("value"));
		$("#num").val($("#slider-vertical").slider("value"));
	});
</script>
</head>
<body>
Executer request_random_number() pour démarrer la capture depuis interface série.
		<span id="Compte" class="Style1">Température:</span> <input
			type="text" id="amount" size=1
			style="border: 0; color: #f6931f; font-weight: bold;" readonly /> <span
			id="Compte1" class="Style1">°C</span><br>
		<div id="temp1"
			style="height: 550px; float: left; margin-left: 10px; margin-right: 10px">
			<!--canvas id="temp" width="100" height="550">[No canvas support]</canvas-->
			<canvas style="position: relative; top: 0px; left: 0px;" id="thermo1"
				width="110" height="550">[No canvas support]</canvas>
		</div>

		<!--div style="text-align: center">
        <canvas style="position: relative; top: 0px; left: 0px;" id="thermo1" width="110" height="350">[No canvas support]</canvas>
        <canvas style="position: relative; top: 0px; left: 0px; cursor: default;" id="thermo2" width="110" height="350">[No canvas support]</canvas>
        <canvas style="position: relative; top: 0px; left: 0px;" id="thermo3" width="110" height="350">[No canvas support]</canvas>
    </div-->

		<!--div id="slider-vertical" style="height:500px;float:left; margin-left:5px; margin-right:5px" ></div-->
		<div id="slider-vertical"
			style="height: 500px; float: left; top: 30px; left: 0px; margin-left: 15px;"></div>

		<div id="graph">
			<canvas id="cvs" width="1100" height="550">[No canvas support]</canvas>
		</div>

		<script>
			// ***fonction du slider***
			var val = 55;
			$(function() {
				$("#slider-vertical").slider({
					orientation : "vertical",
					range : "min",
					min : -150, // varaleur min
					max : 150,// varaleur max
					value : val,// varaleur initial
					slide : function(event, ui) {
						$("#amount").val(ui.value);
					}
				});
				$("#amount").val($("#slider-vertical").slider("value"));
				$("#num").val($("#slider-vertical").slider("value"));
			});

			data = RGraph.array_pad([], 500); //vitesse de réception des valeurs

			// dessin du diagramme

			function DrawGraph() {
				RGraph.Clear(document.getElementById("cvs"));
				RGraph.ObjectRegistry.Clear();

				var line = new RGraph.Line('cvs', data);
				line.Set('chart.colors', [ 'green' ]);
				line.Set('chart.linewidth', 1);
				line.Set('chart.filled', true);
				line.Set('chart.fillstyle', 'rgba(128,255,128,0.5)');
				line.Set('chart.ymax', 150);
				line.Set('chart.numxticks', 10);
				//line.Set('chart.labels', ['0s','5s','10s','20s','30s','40s','50s','60s','40s']);
				line.Set('chart.labels', [ '0', '10s', '20s', '30s', '40s',
						'50s', '60s', '70s', '80s', '90s', '100s' ]);
				line.Draw();
				//var thermometer = new RGraph.Thermometer('temp', 0,150,val);
				//thermometer.Draw();
				// *** affection d'une valeur ***	

				r = $("#slider-vertical").slider("value") //ici on prend la valeur di slider

				//DrawThermo();

				var thermometer = new RGraph.Thermometer('thermo1', 0, 150, val);
				thermometer.Set('chart.colors', [ 'rgba(128,255,128,0.8)' ]);
				thermometer.Set('chart.title.side', 'Thermomètre');
				thermometer.Set('chart.scale.visible', true);
				thermometer.Set('chart.scale.decimals', 2);
				thermometer.Set('chart.gutter.right', 25);
				thermometer.Draw();

				thermometer.canvas.onmousedown = function(e) {
					var obj = e.target.__object__;
					var value = obj.getValue(e);

					obj.value = value;
					RGraph.Effects.Thermometer.Grow(obj);
				}

				if (r >= -15) {
					val = r;
				}

				data = [ r ].concat(data);
				data.pop();

				setTimeout(DrawGraph, 180);
			}

			/*function DrawThermo ()
			{
				// Create the Thermometer chart. The arguments are: the canvas ID, the minimum,
				// the maximum and the indicated value.
				var thermometer = new RGraph.Thermometer('temp', 0,100, 33);
				
				// Configure the thermometer chart to look as you want.
				//thermometer.Set('chart.gutter.left', 45);
				//thermometer.Set('chart.gutter.right', 45);
				thermometer.Set('chart.colors', ['rgba(128,255,128,0.8)']);
				
				// Now call the .Draw() method to draw the chart.
				thermometer.Draw();
			}*/

			/*function DrawThermo()
			{
			    var thermometer = new RGraph.Thermometer('thermo1', 0,150, val);
			    
			    /*var grad = thermometer.context.createLinearGradient(15,0,85,0);
			    grad.addColorStop(0,'green');
			    grad.addColorStop(0.5,'#9f9');
			    grad.addColorStop(1,'green');

			    //thermometer.Set('chart.colors', [grad]);
				thermometer.Set('chart.colors', ['rgba(128,255,128,0.8)']);
			    thermometer.Set('chart.title.side', 'Thermomètre');
			    thermometer.Set('chart.scale.visible', true);
			    thermometer.Set('chart.scale.decimals', 2);
			    thermometer.Set('chart.gutter.right', 25);
			    thermometer.Draw();
			    
			    thermometer.canvas.onmousedown = function (e)
			    {
			        var obj   = e.target.__object__;
			        var value = obj.getValue(e);
			        
			        obj.value = value;
			        RGraph.Effects.Thermometer.Grow(obj);
			    }

			    /*var thermometer3 = new RGraph.Thermometer('thermo3', 0,10,7.8);
			    
			    var grad = thermometer.context.createLinearGradient(15,0,85,0);
			    grad.addColorStop(0,'blue');
			    grad.addColorStop(0.5,'#99f');
			    grad.addColorStop(1,'blue');

			    thermometer3.Set('chart.colors', [grad]);
			    thermometer3.Set('chart.scale.visible', true);
			    thermometer3.Set('chart.gutter.right', 25);
			    thermometer3.Set('chart.scale.decimals', 1);
			    thermometer3.Set('chart.adjustable', true);
			    thermometer3.Draw();*/

			/*if(!RGraph.isOld()) {
			    CreateCharts();
			}else {
			    window.onload = CreateCharts;
			}*/

			//}*/

			window.onload = function() {
				DrawGraph();
				//DrawThermo();
				//window.onload = CreateCharts;
			}
		</script>


<!-- 	</center> -->
</body>
</html>
