<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Domotique - "Maison intelligente"</title>
<link href="/s/css/reset.css" rel="stylesheet" media="screen">
<link href="/s/css/style-boite.css" rel="stylesheet" media="screen">
<link href="/s/css/style.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css"
	href="/s/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<link href="/s/css/ui.switchbutton.min.css" rel="stylesheet"
	type="text/css" />

<script type="text/javascript" src="/s/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/s/js/jquery.tmpl.min.js"></script>
<script type="text/javascript"
	src="/s/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/s/js/jquery.switchbutton.min.js"></script>
{% load socketio %} {% socketio_client_script %}
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script>
	$(document).ready(function() {
		if (!window.console)
			window.console = {};

		if (!window.console.log)
			window.console.log = function() {
			};

		if (!window.console.dir)
			window.console.dir = function() {
			};

		socket = io.connect(null, {
			transports : [ 'flashsocket', 'xhr-polling' ]
		});
		socket.on('connect', function() {
			console.log('connected');
			var name = null;

			//set_name("AAABBB");
		});

		socket.on('disconnect', function() {
			console.log('disconnected');
		});

		socket.on('reconnecting', function() {
			console.log('reconnecting');
		});

		socket.on('reconnect', function() {
			console.log('reconnected');
		});

		socket.on('error', function(e) {
			console.log('error: ' + e);
		});

		socket.on('chat_message', function(user, message) {
			show_message('<b>' + user + '</b>: ' + message);
		});

		socket.on('system_message', function(message) {
			show_message('<i>' + message + '</i>');
		});

		socket.on('etat_led', function(etat,etage,led) {
			if (etat == "allumee"){
				$("input[name="+led+"]").prop("checked", true).change();
			} else if (etat == "eteinte"){
				$("input[name="+led+"]").prop("checked", false).change();
			}
			console.log("RECU: Led "+etat+": " + led + " de létage: "+etage);
			//$("#switch5").switchbutton("enable");
			//setTimeout(function(){socket.emit('get_temperature', 0);},450)
			
		});
		
		socket.on('etat_des_leds',function(etat){
			console.log("RECU: Etat: "+etat['ledBlanche19']);
			for (j = 1; j < 7; j++) {
				if (etat['ledBlanche0'+j]==0){
					$("input[name=ledBlanche0"+j+"]").prop("checked", false).change();
				} else {
					$("input[name=ledBlanche0"+j+"]").prop("checked", true).change();
				}
			}
			for (j = 1; j < 10; j++) {
				if (etat['ledBlanche1'+j]==0){
					$("input[name=ledBlanche1"+j+"]").prop("checked", false).change();
				} else {
					$("input[name=ledBlanche1"+j+"]").prop("checked", true).change();
				}
			}
		});

		send_message = function(message) {
			socket.emit('chat_message', message, function() {
			});
		};

		set_name = function(name) {
			socket.emit('chat_set_name', name, function() {
				$('#message').focus();
			});
		};
	    show_message = function(message) {
	        console.log('MESSAGE ' + message);
		};
		//socket.emit('get_etat_des_leds', function() {});
		socket.emit('get_etat_des_leds', function() {});
	});
</script>

</head>

<body>
	<div id="page">
		<aside id="sidebar">
			<nav>
				<a class="logo" href="#top" id="nav-logo"><span>DOMOTIQUE</span>'Maison
					Intelligente'</a>
				<ul>
					<li class="active" id="nav-1"><a href="#home">Accueil</a></li>
					<li id="nav-2"><a href="#etage0">Rez-de-chaussée</a></li>
					<li id="nav-3"><a href="#etage1">1er étage</a></li>
				</ul>
				<div class="bg_bottom"></div>
			</nav>

		</aside>
		<div id="main-content">

			<section id="top"></section>
			<!-- do not remove ;)-->
			<section id="home">
				<header class="divider intro-text">
					<h2>Bienvenue</h2>
					<!-- <div class="contact-me"><a class="contact button" href="#contact">Contact Me</a></div>-->
				</header>
				<!--end ps_container-->

				<div id="ps_container" class="ps_container">
					<div class="ptext">
						<p>Domotique "Maison intelligente" est un projet qui consiste
							à réaliser une maison (miniature) et d'y installer tout un
							système domotique, c'est à dire que cette maison soit à 100%
							contrôlable à distance.</p>


						<p>L'idée a été proposé par M. Sahli Yassin en cours de AGL à
							l'ISI (Institut Supérieur d'Informatique) comme projet pour le
							semestre. Avec l'aide de Mlle Azzi Abir et M. Med Ali Mortadha
							Dahmani, notre équipe composé de M. Moez Maâmer, M. Yassin Sahli
							et M. Abdelmalek Sfaxi a pu relever plein de défis et ainsi
							arrivée à créer une maison de 75x50cm composés principalement de
							LEDs dans chaque chambre.</p>
						<p>J'ai personnellement continuer le projet en créant ce site
							web ou vous pourrez vous ammuser à allumer/éteindre les
							différentes lumières de chez vous et le voir en direct depuis la
							webcam en streaming en direct.</p>
					</div>
				</div>
				<div class="my-services columns">
					<h3>Comment ca fonctionne?</h3>
					<div class="three-column">
						<h4>Choisissez l'étage</h4>
						<p>Choisissez l'étage (sur le menu, à droite) et vous verrez
							un plan approximatif de cet étage!</p>
					</div>
					<div class="three-column">
						<h4>Allumez, fermez!</h4>
						<p>
							Utilisez les boutons <input type="checkbox"> pour allumer
							et fermer les différentes LEDs de chaque chambre!
						</p>
					</div>
					<div class="three-column last">
						<h4>Have fun!</h4>
						<p>Allez-y, défoulez-vous, je ne vous ferez rien si vous
							chauffez un peut trop les LEDs! :)</p>
					</div>
				</div>

				<div class="one-column columns testimony">
					<div class="clearfix says">
						<figure class="marginRight">
							<img src="/s/images/albert-einstein-67.jpg" alt="Image" />
						</figure>
						<blockquote>
							<p>« L'imagination est plus importante que la connaissance
								[le savoir]. Car la connaissance est limitée, tandis que
								l'imagination englobe le monde entier, stimule le progrès,
								suscite l'évolution. »</p>
							<cite>&mdash; <a href="#">Albert Einstein</a></cite>
						</blockquote>
					</div>

				</div>
			</section>
			<!--end section-->

			<section id="etage0" class="clearfix">
				<header class="divider intro-text">
					<h2>Rez-de-chaussée</h2>
					<!-- <div class="contact-me"><a class="contact button" href="#contact">Contact Me</a></div>-->
				</header>
				<div id="loader" class="loader"></div>
				<div id="ps_container" class="ps_container">

					<form name="daar" method="GET" action="" onSubmit="return false;">

						<div class="etage0 etage">
							<div class="led led03">
								<input type="checkbox" onClick="" name="ledBlanche03" value="2"
									id="led03">
							</div>
							<div class="led led04">
								<input type="checkbox" onClick="" name="ledBlanche04" value="2"
									id="led04">
							</div>
							<div class="led led02">
								<input type="checkbox" onClick="" name="ledBlanche02" value="2"
									id="led02">
							</div>
							<div class="led led06">
								<input type="checkbox" onClick="" name="ledBlanche06" value="2"
									id="led06">
							</div>
							<div class="led led01">
								<input type="checkbox" onClick="" name="ledBlanche01" value="2"
									id="led01">
							</div>
							<div class="led led05">
								<input type="checkbox" onClick="" name="ledBlanche05" value="2"
									id="led05">
							</div>
						</div>


					</form>

					<div id="error00">aa</div>
				</div>


			</section>
			<!--end section-->
			<section id="etage1" class="clearfix">
				<header class="divider intro-text">
					<h2>1er étage</h2>
					<!-- <div class="contact-me"><a class="contact button" href="#contact">Contact Me</a></div>-->
				</header>
				<div id="loader" class="loader"></div>
				<div id="ps_container" class="ps_container">

					<form name="daar" method="GET" action="" onSubmit="return false;">

						<div class="etage1 etage">
							<div class="led led11">
								<input type="checkbox" onClick="" name="ledBlanche11" value="2"
									id="led11">
							</div>
							<div class="led led12">
								<input type="checkbox" onClick="" name="ledBlanche12" value="2"
									id="led12">
							</div>
							<div class="led led13">
								<input type="checkbox" onClick="" name="ledBlanche13" value="2"
									id="led13">
							</div>
							<div class="led led14">
								<input type="checkbox" onClick="" name="ledBlanche14" value="2"
									id="led14">
							</div>
							<div class="led led15">
								<input type="checkbox" onClick="" name="ledBlanche15" value="2"
									id="led15">
							</div>
							<div class="led led16">
								<input type="checkbox" onClick="" name="ledBlanche16" value="2"
									id="led16">
							</div>
							<div class="led led17">
								<input type="checkbox" onClick="" name="ledBlanche17" value="2"
									id="led17">
							</div>
							<div class="led led18">
								<input type="checkbox" onClick="" name="ledBlanche18" value="2"
									id="led18">
							</div>
							<div class="led led19">
								<input type="checkbox" onClick="" name="ledBlanche19" value="2"
									id="led19">
							</div>
						</div>


					</form>

					<div id="error10">aa</div>
			</section>
			<!--end section-->

			<!--end section-->
		</div>
	</div>
	<script type="text/javascript" src="/s/js/jquery_003.js"></script>
	<script type="text/javascript" src="/s/js/jquery.js"></script>
	<script type="text/javascript" src="/s/js/ajax.js">
		
	</script>

	<!-- The JavaScript -->
	<script type="text/javascript">
		/*
		the images preload plugin
		 */
		(function($) {
			$.fn.preload = function(options) {
				var opts = $.extend({}, $.fn.preload.defaults, options), o = $.meta ? $
						.extend({}, opts, this.data())
						: opts;
				return this
						.each(function() {
							var $e = $(this), t = $e.attr('rel'), i = $e
									.attr('href'), l = 0;
							$('<img/>').load(function(i) {
								++l;
								if (l == 2)
									o.onComplete();
							}).attr('src', i);
							$('<img/>').load(function(i) {
								++l;
								if (l == 2)
									o.onComplete();
							}).attr('src', t);
						});
			};
			$.fn.preload.defaults = {
				onComplete : function() {
					return false;
				}
			};
		})(jQuery);
	</script>
	<script type="text/javascript">
		$(function() {
			//some elements..
			var $ps_container = $('#ps_container'), $ps_image_wrapper = $ps_container
					.find('.ps_image_wrapper'), $ps_next = $ps_container
					.find('.ps_next'), $ps_prev = $ps_container
					.find('.ps_prev'), $ps_nav = $ps_container.find('.ps_nav'), $tooltip = $ps_container
					.find('.ps_preview'), $ps_preview_wrapper = $tooltip
					.find('.ps_preview_wrapper'), $links = $ps_nav.children(
					'li').not($tooltip), total_images = $links.length, currentHovered = -1, current = 0, $loader = $('#loader');

			/*check if you are using a browser*/
			var ie = false;
			if ($.browser.msie) {
				ie = true;//you are not!Anyway let's give it a try
			}
			if (!ie)
				$tooltip.css({
					opacity : 0
				}).show();

			/*first preload images (thumbs and large images)*/
			var loaded = 0;
			$links.each(function(i) {
				var $link = $(this);
				$link.find('a').preload(
						{
							onComplete : function() {
								++loaded;
								if (loaded == total_images) {
									//all images preloaded,
									//show ps_container and initialize events
									$loader.hide();
									$ps_container.show();
									//when mouse enters the pages (the dots),
									//show the tooltip,
									//when mouse leaves hide the tooltip,
									//clicking on one will display the respective image	
									$links.bind('mouseenter', showTooltip)
											.bind('mouseleave', hideTooltip)
											.bind('click', showImage);
									//navigate through the images
									$ps_next.bind('click', nextImage);
									$ps_prev.bind('click', prevImage);
								}
							}
						});
			});

			function showTooltip() {
				var $link = $(this), idx = $link.index(), linkOuterWidth = $link
						.outerWidth(),
				//this holds the left value for the next position
				//of the tooltip
				left = parseFloat(idx * linkOuterWidth) - $tooltip.width() / 2
						+ linkOuterWidth / 2,
				//the thumb image source
				$thumb = $link.find('a').attr('rel'), imageLeft;

				//if we are not hovering the current one
				if (currentHovered != idx) {
					//check if we will animate left->right or right->left
					if (currentHovered != -1) {
						if (currentHovered < idx) {
							imageLeft = 75;
						} else {
							imageLeft = -75;
						}
					}
					currentHovered = idx;

					//the next thumb image to be shown in the tooltip
					var $newImage = $('<img/>').css('left', '0px').attr('src',
							$thumb);

					//if theres more than 1 image 
					//(if we would move the mouse too fast it would probably happen)
					//then remove the oldest one (:last)
					if ($ps_preview_wrapper.children().length > 1)
						$ps_preview_wrapper.children(':last').remove();

					//prepend the new image
					$ps_preview_wrapper.prepend($newImage);

					var $tooltip_imgs = $ps_preview_wrapper.children(), tooltip_imgs_count = $tooltip_imgs.length;

					//if theres 2 images on the tooltip
					//animate the current one out, and the new one in
					if (tooltip_imgs_count > 1) {
						$tooltip_imgs.eq(tooltip_imgs_count - 1).stop()
								.animate({
									left : -imageLeft + 'px'
								}, 150, function() {
									//remove the old one
									$(this).remove();
								});
						$tooltip_imgs.eq(0).css('left', imageLeft + 'px')
								.stop().animate({
									left : '0px'
								}, 150);
					}
				}
				//if we are not using a "browser", we just show the tooltip,
				//otherwise we fade it
				//
				if (ie)
					$tooltip.css('left', left + 'px').show();
				else
					$tooltip.stop().animate({
						left : left + 'px',
						opacity : 1
					}, 150);
			}

			function hideTooltip() {
				//hide / fade out the tooltip
				if (ie)
					$tooltip.hide();
				else
					$tooltip.stop().animate({
						opacity : 0
					}, 150);
			}

			function showImage(e) {
				var $link = $(this), idx = $link.index(), $image = $link.find(
						'a').attr('href'), $currentImage = $ps_image_wrapper
						.find('img'), currentImageWidth = $currentImage.width();

				//if we click the current one return
				if (current == idx)
					return false;

				//add class selected to the current page / dot
				$links.eq(current).removeClass('selected');
				$link.addClass('selected');

				//the new image element
				var $newImage = $('<img/>').css('left',
						currentImageWidth + 'px').attr('src', $image);

				//if the wrapper has more than one image, remove oldest
				if ($ps_image_wrapper.children().length > 1)
					$ps_image_wrapper.children(':last').remove();

				//prepend the new image
				$ps_image_wrapper.prepend($newImage);

				//the new image width. 
				//This will be the new width of the ps_image_wrapper
				var newImageWidth = $newImage.width();

				//check animation direction
				if (current > idx) {
					$newImage.css('left', -newImageWidth + 'px');
					currentImageWidth = -newImageWidth;
				}
				current = idx;
				//animate the new width of the ps_image_wrapper 
				//(same like new image width)
				$ps_image_wrapper.stop().animate({
					width : newImageWidth + 'px'
				}, 350);
				//animate the new image in
				$newImage.stop().animate({
					left : '0px'
				}, 350);
				//animate the old image out
				$currentImage.stop().animate({
					left : -currentImageWidth + 'px'
				}, 350);

				e.preventDefault();
			}

			function nextImage() {
				if (current < total_images) {
					$links.eq(current + 1).trigger('click');
				}
			}
			function prevImage() {
				if (current > 0) {
					$links.eq(current - 1).trigger('click');
				}
			}
		});
	</script>
	<script type="text/javascript"
		src="/s/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript"
		src="/s/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {

							$('.projects li figure a img').animate({
								'opacity' : 1
							}).hover(function() {
								$(this).animate({
									'opacity' : .5
								});
							}, function() {
								$(this).animate({
									'opacity' : 1
								});
							});
							$('.zoom img').animate({
								'opacity' : 1
							}).hover(function() {
								$(this).animate({
									'opacity' : .5
								});
							}, function() {
								$(this).animate({
									'opacity' : 1
								});
							});

							$("a[rel=work]")
									.fancybox(
											{
												'transitionIn' : 'elastic',
												'transitionOut' : 'elastic',
												'titlePosition' : 'over',
												'titleFormat' : function(title,
														currentArray,
														currentIndex,
														currentOpts) {
													return '<span id="fancybox-title-over">Image '
															+ (currentIndex + 1)
															+ ' / '
															+ currentArray.length
															+ (title.length ? ' &nbsp; '
																	+ title
																	: '')
															+ '</span>';
												}
											});
							$("a[rel=recent_work]")
									.fancybox(
											{
												'transitionIn' : 'elastic',
												'transitionOut' : 'elastic',
												'titlePosition' : 'over',
												'titleFormat' : function(title,
														currentArray,
														currentIndex,
														currentOpts) {
													return '<span id="fancybox-title-over">Image '
															+ (currentIndex + 1)
															+ ' / '
															+ currentArray.length
															+ (title.length ? ' &nbsp; '
																	+ title
																	: '')
															+ '</span>';
												}
											});

						});
	</script>
</body>
</html>